<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='less/main.css') }}" />
    {% block headtitle %}{% endblock %}
</head> 
 <body class="bdy">
    {% include 'leftbar.html' %}
    {% block content %}{% endblock %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>

