<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/main.css" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    {% block headtitle %}{% endblock %}
</head> 
 <body class="bdy">
    {% block topnav %}{% endblock %}
    <div class="pure-g main-contain">
    {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>

