{% extends "base.html" %}
{% block headtitle %}<title>Frequencies</title>{% endblock %}
{% block content %}
<div class='display'>
     <div class='txtDisplay'><p>Frequencies are all kinds of important. They help to determine how non-native speakers learn a language, whether a document is 'academic', 'professional' or 'informal'.</p></div>
</div>
<span class='params'>
    <textarea class="whiteList" placeholder="Enter words to look for seperated by commas"></textarea>
    <textarea class="blackList" placeholder="Enter words to exclude seperated by commas"></textarea>
    <label>Length: </label><input type="text" class="jsLen" />
    <input type="button" class="button button-task jsRunTask" value="Run Task" />
</span>

<div class="charts">
    <div id="chart" style="width:75%;height:60%" ></div>
        <div class="overlay">
            <label>Test Name: </label><input id="taskName" type="text" /><br />
            <input class="button button-save jsSaveCommit" value="Commit" />
        </div>
    <input class="button button-save jsTaskSave" value="Save Task" />
</div>
{% endblock %}
{% block scripts %}{% for inc in foot_includes %}<script type="text/javascript" src="{{ url_for('static', filename='js/'+inc) }}"></script>
{% endfor %}{% endblock %}

