<div class="grid__leftbar" >
    <a href="/" class="brand"><img src="{{ url_for('static', filename='images/Logo-sm.png') }}" class="brand-logo" /></a>
    <p class="selected-text">Selected Text: <span class="jsSelectedText">{{ text_name }}</span></p>

    <ul class="nav-menu"> {% for menu in menus %}
        <li class="nav-menu__item"><a class="nav-menu__link js{{ menu.replace(' ','-') }}" href="/{{ menu.replace(' ','-') }}">{{ menu }}</a>
    </li>{% endfor %}
    </ul>
        {% if tasks %}<ul class="task-menu">{% for task in tasks %}
            <li><a class="submenu hidden js{{ task.replace(' ','-') }}" href="#">{{ task }}</a></li>{% else %}{% endfor %}
        </ul>{% endif %}
</div>
