<div class="grid__leftbar" >
    <a href="/" class="brand"><img src="{{ url_for('static', filename='images/Logo-sm.png') }}" class="brand-logo" /></a>
    <ul class="jsBook text-list">{% for text in texts %}<li><a href="#">{{ text }}</a></li>{% else %}{% endfor %}</ul>
    <ul class="nav-menu"> {% for menu in menus %}
        <li><a class="fMenu js{{ menu.replace(' ','-') }}" href="{{ menu.replace(' ','-') }}">{{ menu }}</a>
    </li>{% endfor %}
    </ul>
        {% if tasks %}<ul class="task-menu">{% for task in tasks %}
            <li><a class="submenu hidden js{{ task.replace(' ','-') }}" href="#">{{ task }}</a></li>{% else %}{% endfor %}
        </ul>{% endif %}
</div>
