{% extends "base.html" %}
{% block headtitle %}<title>Please Login</title>{% endblock %}
{% block content %}

<span class="txtDisplay">
    <div class="login__contain">
    <form class="login" action="login" method="post">
        <label>Name:</label><input name="name" type="text" />
        <input type="submit" value="Login" />
    </form>
    </div>
<br /><br />
    <div class="reg__contain">
    <form class="reg" action="register" method="post">
        <label>Username:</label><input name="regUser" type="text" />
        <label>Email:</label><input name="regEmail" type="email" />
        <input type="submit" value="Register" />
    </form>
    </div>
</span>

{% endblock %}
{% block scripts %}{% for inc in foot_includes %}<script type="text/javascript" src="{{ url_for('static', filename='js/'+inc) }}"></script>
{% endfor %}{% endblock %}

