{% extends "base.html" %}
{% block headtitle %}<title>Welcome</title>{% endblock %}
{% block content %}
<div class="display">
    <div class="txtDisplay">
        <div class="user-core">
            <p>Hi, {{ user }}</p>
            <div class="button-task jsLogout"><a href='logout'>Logout</a></div>
        </div>
        <div class="saved-tasks">
            <h3>Saved Tasks</h3>
            <ul>
            {% for save in savedTasks %}
            <li><a href='/Frequencies/?{{ save }}' >{{ save }}</a></li>
            {% else %}
            <li>No saved tasks, go explore some!</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}{% for inc in foot_includes %}<script type="text/javascript" src="{{ url_for('static', filename='js/' + inc) }}"></script>
{% endfor %}{% endblock %}

