{% extends "base.html" %}
{% block headtitle %}<title>Welcome</title>{% endblock %}
{% block content %}
<div class="display">
    <div class="txtDisplay">
        <span class="user-core">
            <p>Hi, {{ user }}</p>
        </span>
        <span class="saved-tasks">
            <h3>Saved Tasks</h3>
            {% for save in savedTasks %}

            {% else %}
            <p>No saved tasks, go explore some!</p>
            {% endfor %}
        </span>
    </div>
</div>
{% endblock %}
{% block scripts %}{% for inc in foot_includes %}<script type="text/javascript" src="{{ url_for('static', filename=inc) }}"></script>
{% endfor %}{% endblock %}

