.bdy {
  background: #eeeeee;
}
.fMenu {
  width: 100%;
}
.text-list {
  background-color: #c4c4c4;
  list-style: none;
  padding: 0;
  text-align: left;
}
.text-list li {
  border-bottom: thin solid black;
}
.login__contain {
  display: inline-block;
  position: relative;
  background: #ccc;
}
.reg__contain > form {
  display: inline-block;
  position: relative;
  background: #ccc;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
.task-menu {
  list-style: none;
  margin: 0;
  text-align: center;
  padding: 0;
}
.task-menu li {
  background: #f7f7f7;
  height: 2em;
  margin: 3px;
  width: 95%;
}
.task-menu li a {
  color: #4d4d4d;
  text-decoration: none;
}
.task-menu li a:visited {
  color: #656586;
}
.task-menu li:hover {
  background-color: #e6e6e6;
  border: 3px solid #07466d;
}
.task-results,
.text,
.params {
  display: none;
}
.right-container,
.left-container {
  text-align: center;
}
.params,
.txtDisplay {
  color: #656586;
  float: right;
  width: 78%;
}
.button {
  margin: 0;
  padding: 1em;
  border: 0 none rgba(0, 0, 0, 0);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
  font-family: inherit;
  font-size: 100%;
  text-decoration: none;
  -moz-user-select: none;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
.button:hover {
  background-color: #a4570e;
}
.button-task {
  background: none repeat scroll 0 0 #df7514;
  color: #222222;
}
.button-save {
  background: none repeat scroll 0 0 #07466d;
  color: #656586;
}
.charts {
  float: right;
  width: 80%;
}
#chart {
  display: none;
}
/***************
    BEMish
***************/
.grid__leftbar {
  bottom: 0;
  float: left;
  position: fixed;
  top: 0;
  width: 20%;
  background-color: #07466d;
  background-image: -moz-linear-gradient(top, #428bca, #07466d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#428bca), to(#07466d));
  background-image: -webkit-linear-gradient(top, #428bca, #07466d);
  background-image: -o-linear-gradient(top, #428bca, #07466d);
  background-image: linear-gradient(to bottom, #428bca, #07466d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff07466d', GradientType=0);
}
.brand {
  text-align: center;
}
.brand-logo {
  background-color: #428bca;
  background-image: -moz-linear-gradient(top, #8a3324, #428bca);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8a3324), to(#428bca));
  background-image: -webkit-linear-gradient(top, #8a3324, #428bca);
  background-image: -o-linear-gradient(top, #8a3324, #428bca);
  background-image: linear-gradient(to bottom, #8a3324, #428bca);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a3324', endColorstr='#ff428bca', GradientType=0);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 5% 0 0 5%;
  width: 50%;
}
.nav-menu {
  background-color: #428bca;
  list-style: none;
  margin: 0;
  text-align: center;
  padding: 0;
}
.nav-menu li {
  background-color: #f7f7f7;
}
