.grid__leftbar {
  bottom: 0;
  float: left;
  position: fixed;
  top: 0;
  width: 15%;
}
.bdy {
  background-color: #5b83ad;
}
.brand {
  text-align: center;
  width: 100%;
}
.brand-logo {
  background-color: #11a4ff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 10px;
  width: 90%;
}
.fMenu {
  width: 100%;
}
.grid__leftbar {
  background-color: #07466d;
}
.text-list {
  background-color: #c4c4c4;
  list-style: none;
}
.text-list li {
  border-bottom: thin solid black;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
.task-menu {
  background-color: #07466d;
  list-style: none;
  margin: 0;
  text-align: center;
  padding: 0;
}
.task-menu li {
  background: #f7f7f7;
  border: 3px solid #07466d;
  height: 2em;
  width: 95%;
}
.task-menu li:hover {
  background-color: #e6e6e6;
  border: 3px solid #5b83ad;
}
.task-menu li a {
  color: #222222;
  text-decoration: none;
}
.task-menu li a:visited {
  color: inherit;
}
.task-results,
.text,
.params {
  display: none;
}
.right-container,
.left-container {
  text-align: center;
}
<<<<<<< HEAD:textFront/static/main.css
.main-contain,
.frequencies {
  height: 85vh;
  margin: 10px auto;
  width: 75%;
}
.main-contain div,
.frequencies div {
  display: inline-block;
  max-height: 100%;
=======
.main-contain {
  margin: 10px auto;
  width: 100%;
>>>>>>> working:textFront/static/less/main.css
}
.txtDisplay {
  background-color: #8a3324;
  color: #222222;
  float: left;
  margin-left: 16%;
}
.params {
  display: none;
  margin-left: 16%;
}
.button-task {
  background: none repeat scroll 0 0 #df7514;
  color: #222222;
  border: 0 none rgba(0, 0, 0, 0);
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.8);
  font-family: inherit;
  font-size: 100%;
  padding: 1em;
  text-decoration: none;
  -moz-user-select: none;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
.button-task:hover {
  background-color: #a4570e;
}
.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #555;
  -webkit-box-shadow: 3px 3px 5px 6px #555;
  box-shadow: 3px 3px 5px 6px #555;
}
<<<<<<< HEAD:textFront/static/main.css
#chart {
  display: none;
  margin-left: 10px;
=======
.charts {
  margin-left: 16%;
  position: absolute;
}
#chart {
  display: none;
>>>>>>> working:textFront/static/less/main.css
}
