@import (reference) "variables.less";
@import (reference) "preboot.less";

.bdy{
//    #gradient > .vertical(@brand-primary, lighten(@brand-secondary, 10%));
    background: @bg-reading;

}
.fMenu{
    width: 100%;
}

.text-list{
    background-color: @white - #333;
    list-style: none;
    padding: 0;
    text-align: left;

    li{
        border-bottom: thin solid black;
    }
}

.login__contain{
    display: inline-block;
    position: relative;
    background: #ccc;
}

.reg__contain > form{
    display: inline-block;
    position: relative;
    background: #ccc;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

html, button, input, select, textarea {
    font-family: sans-serif;
}

.task-menu{
    list-style: none;
    margin: 0;
    text-align: center;
    padding: 0;

    li{
        background: @white;
        height: 2em;
        margin: 3px;
        width: 95%;
        a{
            color: @black-70;
            text-decoration: none;

            &:visited{
                color: @txt-reading;
            }
        }
 
        &:hover{
            background-color: @white - #111;
            border: 3px solid @brand-secondary;
            }
        }
    }

.task-results, .text, .params{
    display: none;
}

.right-container, .left-container{
    text-align: center;
}

.params, .txtDisplay{
//    background-color: @bg-reading;
    color: @txt-reading;
    float: right;
    width: @main-width;
    column_fill: auto;
}

.button{
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    padding: 1em;

    border: 0 none rgba(0, 0, 0, 0);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.8);
    font-family: inherit;
    font-size: 100%;
    text-decoration: none;

    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;

    &:hover{
        background-color:darken(hsl(29, 84%, 35%), 0%);
    }

}

.button-task {
    background: none repeat scroll 0 0 #df7514;
    color: #222222;

}

.button-save{
    background: none repeat scroll 0 0 @brand-secondary;
    color: @txt-reading;

}

.charts{
    float: right;
    width: 80%;
}

#chart{
    display: none;
}


/***************
    BEMish
***************/

.grid__leftbar{
    bottom: 0;
    float: left;
    position: fixed;
    top: 0;
    width: @left-width;
    #gradient > .vertical(@brand-primary, @brand-secondary);
//    background: red;

}

.brand{
    text-align: center;
}

.brand-logo{
    #gradient > .vertical(@brand-accent, @brand-primary);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    margin: 5% 0 0 5%;
    width: 50%;
}

.nav-menu{
    background-color: @brand-primary;
    list-style: none;
    margin: 0;
    text-align: center;
    padding: 0;

    li{
        background-color: @white;
    }
}

.topbar{
}




