//@import (less) "pure.css";
@import (less) "layout.less";
@import (reference) "variables.less";

.bdy{
    background-color: @nice-blue;
}

.brand{
text-align: center;
width:100%;
}
.brand-logo{
    background-color: @fadedblue;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    margin: 10px;
    width: 90%;
}

.fMenu{
    width: 100%;
}
.grid__leftbar{
    background-color: @dblue;
}

.text-list{
    background-color: @white - #333;
    list-style: none;

    li{
        border-bottom: thin solid black;
    }
}

textarea {
    overflow: auto;
    vertical-align: top;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
html, button, input, select, textarea {
    font-family: sans-serif;
}


.task-menu{
    background-color: @dblue;
    list-style: none;
    margin: 0;
    text-align: center;
    padding: 0;
}

.task-menu li{
    background: @white;
    border: 3px solid @dblue;
    height: 2em;
    width: 95%;

    &:hover{
        background-color: @white - #111;
        border: 3px solid @nice-blue;
    }
}

.task-menu li a{
    color: @txtcolor;
    text-decoration: none;

    &:visited{
        color: inherit;
    }
}

.task-results, .text, .params{
    display: none;
}

.right-container, .left-container{
    text-align: center;
}

.main-contain{ 
    margin: 10px auto;
    width: 100%;
}

.txtDisplay{
    background-color: @burnt;
    color: @txtcolor;
    float:left;
    margin-left: @main-left-margin; 
}

.params{
    display: none;
    margin-left: @main-left-margin; 
}

.button-task {
    background: none repeat scroll 0 0 #df7514;
    color: #222222;

    border: 0 none rgba(0, 0, 0, 0);
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.8);
    font-family: inherit;
    font-size: 100%;
    padding: 1em;
    text-decoration: none;

    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;


    &:hover{
        background-color:darken(hsl(29, 84%, 35%), 0%);
    }
}


.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #555;
  -webkit-box-shadow: 3px 3px 5px 6px #555;
  box-shadow:         3px 3px 5px 6px #555;
}

.charts{
    margin-left: @main-left-margin;
    position: absolute;
}

#chart{
    display: none;
}


