


@left-width: 12%;
@main-width: 85%;

@leftbar-space: @left-width + 2%;

@bg-reading: #eee; //#CCF;

@brand-primary: #5B83AD;
@brand-secondary: #07466D;
@brand-accent: #8A3324;

@white: #f7f7f7;
@txt-reading: #656586;


//
// MENU STYLES
//

@menu-color: @txt-reading;
@menu-color--hover: @menu-color - #222;
@menu-color-background: @bg-reading;
@menu-color-background--hover: @menu-color-background - #222;
@menu-border: @brand-primary - #222;
@menu-background: @bg-reading;


