@import (less) "pure.css";

@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;
@burnt: #8a3324;
@txtcolor: #222222;
@white: #f7f7f7;
@blue: #095B90;
@dblue: #07466D;
@ltblue: #6DBDDE;
@fadedblue: #11A4FF;

@max-body-height: 100%;

.bdy{
    background-color: @nice-blue - #111;
}

.leftbar {
    max-height: @max-body-height;
}

.main-contain{
    height: 85vh;
}

.txtDisplay{
    background-color: lime;
    height: @max-body-height;
    margin-left: 10px;
    overflow: auto;
}
.task-list{
    margin-left: 10px;
}

.topnav{
    margin-bottom: 10px;
}



