@import (less) "pure.css";

@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;
@burnt: #8a3324;
@txtcolor: #222222;
@white: #f7f7f7;
@blue: #095B90;
@dblue: #07466D;
@ltblue: #6DBDDE;
@fadedblue: #11A4FF;

.bdy{
    background-color: @nice-blue - #111;
}


.leftnav {
   margin:right; 
}



#txtSubmit {
    .pure-button;
    .pure-button-primary;
}

.topnav{
    margin-bottom: 10px;
}

